/* Основной цвет текста #212121 */
/* Основной цвет фона #FFFFFF */
/* Вторичный цвет текста #757575 */
/* Вторичный цвет фона #2F303A */
/* Единичный фон #F5F4FA */
/* Цвет ссылок при ховере, фокусе,  а также для логотипа */
/* Цвет при ховере, фокусе кнопки #2196F3 */
/* Цвет ссылок в футере rgba(255, 255, 255, 0.6) */
/* Цвет обрамления галереи #eeeeee */


/* Утилиты для страниц */
:root {
  --primary-text-color: #212121;
  --primary-background-color: #ffffff;
  --secondary-text-color: #757575;
  --secondary-background-color: #2f303a;
  --single-background-color: #f5f4fa;
  --link-hover-focus-web-color: #2196f3;
  --logo-color: #000000;
  --footer-link-text-color: rgba(255, 255, 255, 0.6);
  --galery-background: #eeeeee;
}
/* Тело страницы */
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  
}

/* Убираем ненависные точки у списков */
.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* Размеры и отступы контейнеров */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}


/* Вертикальные падинги для всех секций страниц */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Обнуляем марджины заголовком, абзацев и списков */
h1,h2,h3,h4,p,ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Изменяем тип картинок для удаления зазоров */
img {
  display: block;
}

/* Шапка старницы */
.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ECECEC;

}
/* Логотип */
.logo {
  color: var(--logo-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* Цвет для Web */
.web {
  color: var(--link-hover-focus-web-color);
}

/* Навигационные ссылки */
.nav {
  display: flex;
  margin-left: 93px;
  
}

/* Маржины навигационных ссылок */
.nav .nav-item + .nav-item {
  margin-left: 50px;
}

/* Навигационные ссылки хедера */
.header-page .link {
  color: inherit;
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}


/* Навигационные ссылки при ховере и фокусе */
.site-nav .link:focus,
.site-nav .link:hover {
  color: var(--link-hover-focus-web-color);
}

/* Оборачиваю в div контакты хедера */
.contacts-items {
  display: flex;
  margin-left: auto;
}

.contacts-items .contacts-item + .contacts-item {
  margin-left: 50px;
}


.contacts-items .link {
  color: var(--secondary-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Контактные ссылки при ховере и фокусе */
.contacts-items .link:focus,
.contacts-items .link:hover {
  color: var(--link-hover-focus-web-color);
}

/* Подсветка текущей старницы  */

/* Секция герой */
.hero {
  background-color: var(--secondary-background-color);
  color: var(--primary-background-color);
  text-align: center;
}
.site-nav .link.current {
  color: var(--link-hover-focus-web-color);
}
/* Заголовок-герой */
.title-hero {
  color: var(--primary-background-color);
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Кнопка в "герое" */
.hero .button {
  display: inline-block;
  background-color: var(--link-hover-focus-web-color);
  color: var(--primary-background-color);
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  display: inline-block;
  text-align: center;
}

/* Кнопка при ховере и фокусе */
.button:hover,
.button:focus {
  background-color: var(--primary-background-color);
  color: var(--link-hover-focus-web-color);
}

/* Секция "Особенности" */
/* Скрываем заголовок */
.invisible {
  display: none;
}

.features-list {
  display: flex;
}

.features-list-items {
  width: 270px;
}

.features-list-items + .features-list-items {
  margin-left: 30px;
}

/* Заголовок элемента списка особенностей */
.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Оформляем текст особенностей */
.features-text {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Секция "Вид дейтельности" */
/* Заголовок секции */
.activity-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.activity-list {
  display: flex;
}

.activity-list-item + .activity-list-item {
  margin-left: 30px;
}

/* Секция "Наша команда" */
.team {
  background-color: var(--single-background-color);
  text-align: center;
}

/* Изменяем тип списка на флекс */
.team-items {
  display: flex;
}

.team-item {
  
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-background-color);
}

.image {
  margin-bottom: 30px;
}

.team-item + .team-item {
margin-left: 30px;
}

/* Имя */
.name {
margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.position {
margin-bottom: 30px;

  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/* Подвал */
.footer-page {
  background-color: var(--secondary-background-color);
  color: var(--primary-background-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Логотип подвала */

/* Весь логотип футера */
.footer-logo {
  color: var(--primary-background-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* Часть "web" футера */
.footer-web {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 20px;

  color: var(--link-hover-focus-web-color);
}

/* Логотип-ссылка в футере */
.footer-link {
  text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--link-hover-focus-web-color);
}

/* Оформление адреса */
.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.adress-title {
margin-bottom: 9px;
}

.footer-contact-mail {
  margin-bottom: 9px;
}

.footer-contact-tel {
padding-bottom: 60px;
}


/* Оформление ссылок адреса */
.footer-address .link {
  color: var(--footer-link-text-color);
  text-decoration: none;
}

/* Ссылки адреса при ховере и футере */
.footer-address .link:hover,
.footer-address .link:focus {
  color: var(--link-hover-focus-web-color);
}

/* СТРАНИЦА ПОРТФОЛИО  */
/* МЕИН */
/* Секция "Портфолио" */

.filter {
display: flex;
justify-content: center;
margin-bottom: 50px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}
/* Кнопки фильтра */
.filter .button {
  display: flex;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  background-color: var(--single-background-color);

  font-family: inherit;
  cursor: pointer;
}

/* Отступы для кнопок фильтра портфолио */
.filter-button + .filter-button {
  margin-left: 8px;
}

/* Кнопки фильтра при ховере и фокусе */
.filter .button:focus,
.filter .button:hover {
  background-color: var(--link-hover-focus-web-color);
  color: var(--primary-background-color);
}

/* Создаем флекс-контейнер для элементов портфоли */
.galery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -15px;

}

/* Отступы для элементов галереи и рамки */
.galery-item {
  width: 370px;
  margin: 15px;
  border: 1px solid #EEEEEE;
 
}

/* Маржин картинок */
.galery-item-img {
  margin-bottom: 20px;
}
/* Скрываем подчеркивание и цвет ссылок галереи */
.galery .link {
  text-decoration: none;
  color: inherit;
  
}

/* Задаём размер шрифта заголовкам галереи*/
.galery-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Задаём размер шрифта для классов галереи */
.filter-unit {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/* Маржины для подписей картинок-ссылок портфолио */
.photo-info {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 24px;
}


